ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.visually-hidden {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    display: none;
}

.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}